a{
    font-style: inherit;
    color: yellow;
    font-family: Fantasy;
    font-size: 10px;
    text-decoration: none;
}
body {
    background-image: url(9.jpeg);
     color: yellow;
     text-decoration: none;
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   }
   .m {
   color: yellow;
   font-size: 15px;
   font-family: Cursive;
    
text-decoration: none;
   }

   #d{
   color: yellow;
   font-size: 30px;
   font-style: verdana ;
   text-decoration: none;
    
   }
   .h {
    text-align: center;
    text-decoration: none;
    text-align: center;
  padding: 20px;
  font-size: 30px;
  color: #ff4a54;
    letter-spacing: 0.1em;
   }
a:visited {
  color: green;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}
p {
  background-image: url('../images/6.jpeg');
 text-decoration: none;
}
div.absolute {
  position: absolute;
  width: 50%;
  bottom: 10px;
  border: 3px solid #8AC007;
  text-decoration: none;
} 

b {
  position: relative;
  width: 50%;
  bottom: 5px;
  border: 3px solid #8AC007;
  text-decoration: none;
} 
div.parent {
  position: relative;
  height: 200px;
  border: 3px solid red;
  text-decoration: none;
}

div.absolute {
  position: absolute;
  width: 50%;
  bottom: 10px;
  border: 3px solid #8AC007;
  text-decoration: none;
} 
div.relative {
  position: relative;
  width: 50%;
  bottom: 5px;
  border: 3px solid #8AC007;
 text-decoration: none;
} 

div.fixed {
  position: fixed;
  width: 50%;
  bottom: 10px;
  border: 3px solid #8AC007;
  text-decoration: none;
} 
 .mm {
   color: yellow;
   font-size: 20px;
   font-family: Cursive;
   padding: 10px 18px;
      background-color: #f44336;
      text-decoration: none;
   }
.marquee{
    font: 12px;
    color: yellow;   
}
 .blink_me {
  animation: blinker 1s linear infinite;
  font-size: 15px;
  color: #ff4a54;
   
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
  .image_it{
  width: 85px;
  position:fixed;
  top: 450px;
  left: 320px;
  animation: animate1 7s linear infinite;
}

@keyframes animate1 {
  0%,100% {
      transform: translateY(11px);
  }
  50% {
      transform: translateY(-11px);
  }
}
}
